DBHOST=172.30.0.27
DBPORT=3306
DBUSER=root
DATABASE=employees
DBPWD=example
# APP_COLOR=lime
MYSQL_ROOT_PASSWORD=example
SUBNET_RANGE=172.30.0.0/16

# Docker Compose
LIME_COLOR=lime
BLUE_COLOR=blue
PINK_COLOR=pink